.features-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #111111;
  padding-bottom: 100px;
}

.features-quote {
  margin: 200px;
}

.features-quote h1 {
  font-size: 4vw;
  color: #FF8662;
} 

.features-quote p {
  font-family: 'Inter';
  font-size: 2vw;
  color: #9fa0a5;
}

.items-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-items {
  margin: 20px;
  width: 25vw;
  height: 25vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.grid-item-title {
  padding-top: 40px;
  font-size: 2.5vw;
  color: white;
}

.grid-item-description {
  padding-top: 30px;
  line-height: 120%;
  font-family: 'Inter';
  font-size: 1.5vw;
  color: #9fa0a5;
}

.grid-image-container {
  object-fit: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #F5F6F5;
  border-radius: 20px;
}

.grid-item-image {
  width: 30vw;
  height: 40vh;
  object-fit: cover;
}