.features-container {
  width: 100vw;
  flex-wrap: wrap;
  background-color: #1a1a1a;
  padding-top: 200px;
  padding-bottom: 100px;
}

.features-title h1 {
  width: 80vw;
  line-height: 1.2;
  margin: 0px;
  margin-bottom: 20px;
}

.skill-cards-container {
  width: 80vw;
  justify-content: space-evenly;
  background: #1a1a1a;
  margin: 100px;
}

.skill-card-item {
  width: 300px;
}

.skill-card-item img {
  width: 100px;
  height: 100px;
}

.skill-card-item-title h1 {
  font-size: 28px;
  color: #e1a87a;
  margin: 30px;
}

.skill-card-item-description p {
  max-height: 240px;
  color: #e4e3d5;
}

@media only screen and (orientation: portrait) {
  .features-container {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .skill-cards-container {
    flex-direction: column;
  }
}

@media only screen and (min-width: 1500px) {
  .features-container {
    flex-direction: column;
  }
  .features-title h1 {
    max-width: 1000px;
  }
  .skill-cards-container {
    max-width: 1000px;
  }
}
