.footer-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  background: #dadeda;
}

.footer-text {
  width: 60%;
}

.footer-text h1 {
  padding: 50px;
}

.footer-text p {
  font-family: "Inter";
  font-size: 1.1vw;
}

.line-separator {
  width: 60%;
  height: 2px;
  background: #717171;
}
