/* https://stackoverflow.com/questions/1719452/how-to-make-a-div-always-full-screen */
/* https://www.w3.org/Style/Examples/007/center.en.html */

.homepage {
  /* Height and width fallback for older browsers. */
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  height: 100vh;

  /* Set the width to match that of the viewport. */
  width: 100vw;

  /* Remove any browser-default margins. */
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url(./media/bg.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}

.home-overlay {
  width: inherit;
  height: inherit;
  background-color: rgb(0, 0, 0, 0.3);
  position: absolute;
}

.home-text-wrapper {
  position: relative;
  width: 100vw;
  padding-left: 100px;
  text-align: left;
  margin: 0px;
}

.home-title h1 {
  margin-top: -40px;
  margin-bottom: -20px;
  font-size: 100px;
  font-family: "Amiri", serif;
  color: white;
}

.home-description p {
  margin: 0px;
  font-size: 28px;
  color: #e1a87a;
}

@media screen and (orientation: portrait) {
  .home-title h1 {
    font-size: 12vw;
  }
  .home-description p {
    font-size: 6vw;
  }
}

@media screen and (min-width: 1500px) {
  .home-text-wrapper {
    padding-left: 0px;
    max-width: 1500px;
  }
}
