.intro-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
}

.intro-content-wrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-image-container {
  width: 400px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
}

.intro-image-container img {
  width: auto;
  height: inherit;
}

.intro-text-wrapper {
  width: 40vw;
  text-align: left;
  flex-direction: column;
  margin: 50px;
}

.intro-title h1 {
  line-height: 1.2;
  font-size: 50px;
  font-family: "Amiri", serif;
}

.intro-content p {
  line-height: 1.5;
  font-size: 18px;
}

@media screen and (orientation: portrait) {
  .intro-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .intro-content-wrapper {
    flex-direction: column;
  }
  .intro-image-container {
    width: 95vw;
    height: 30vh;
  }
  .intro-text-wrapper {
    width: auto;
    margin: 5px;
  }
  .intro-title h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  .intro-content-wrapper {
    max-width: 1200px;
  }
  .intro-text-wrapper {
    width: 30vw;
  }
}
