/* https://codepen.io/abhishek747/pen/BbWKVa?editors=1100 */

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 120px;
  background-color: #F5F6F5;
}

.cards-container h1 {
  margin: 100px;
  width: 80%;
  font-size: 4vw;
}

.cards-container p {
  margin: 100px;
  font-family: 'Inter';
  font-size: 3vw;
}

.project-cards {
  width: 50vw;
  height: 30vh;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 0.4s;
}

.card-title {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  color: white; 
}

.project-cards:hover .card-image{
  transform: scale(1.08, 1.08);
}