/* https://codepen.io/abhishek747/pen/BbWKVa?editors=1100 */

.projects-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 200px;
  margin: 0px;
  background-color: #f5f6f5;
}

.projects-text-wrapper {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 50px;
}

.projects-title h1 {
  font-size: 64px;
  font-family: "Arimi", serif;
}

.projects-description p {
  font-size: 20px;
}

.project-card {
  width: 50vw;
  height: 24vh;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: black;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.project-card-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 0.2s;
}

.project-card-title {
  position: absolute;
  font-size: 36px;
  font-family: "Amiri", serif;
  color: white;
  opacity: 0;
  transition: 0.2s;
}

.project-card:hover .project-card-image {
  transform: scale(1.05, 1.05);
  opacity: 0.6;
}

.project-card:hover .project-card-title {
  opacity: 1;
}

@media only screen and (orientation: portrait) {
  .project-container {
    padding-bottom: 100px;
  }
  .projects-text-wrapper {
    width: 95vw;
    margin: 10px;
  }
  .projects-title h1 {
    font-size: 48px;
  }
  .project-card {
    width: 95vw;
    height: 16vh;
  }
}

@media only screen and (min-width: 1500px) {
  .project-card {
    max-width: 1000px;
    max-height: 280px;
  }
  .project-card-title {
    font-size: 18px;
  }
  .projects-description p {
    max-width: 800px;
  }
}
