/* https://codepen.io/abhishek747/pen/BbWKVa?editors=1100 */

.cards-container {
  margin: 20px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-cards {
  width: 50vw;
  height: 35vh;
  border-radius: 10px;
  transition: 0.4s;
  margin: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: 0.4s;
}

.card-title {
  position: absolute;
  font-weight: bold;
  font-size: 36px;
  color: white; 
}

.card-image:hover {
  transform: scale(1.08, 1.08);
}