body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", serif;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1 {
  font-weight: normal;
  font-size: 36px;
  font-family: "Open Sans", serif;
  color: white;
}

body p {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
