body {
  margin: 0;
  font-family: Amiri, serif;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1 {
  font-weight: normal;
  font-size: 48px;
  font-family: "Amiri", serif;
  color: white;
}

body p {
  font-size: 18px;
  font-family: "poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-container,
.intro-container,
.intro-content-wrapper,
.intro-image-container,
.features-container,
.skill-cards-container,
.projects-container,
.projects-text-wrapper,
.project-card,
.footer-container,
.banner-container,
.footer-socials-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
